.produits-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 35px;
    max-width: 1300px;
    margin: 0 auto 100px auto;
}

.produit-card {
    background: #fff;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s ease;
    border: 1px solid #d0d0d0;

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0 10px 25px rgba(255, 0, 0, 0.15);
        border-color: #ff1900;

        .img-main {
            opacity: 0;
        }

        .img-hover {
            opacity: 1;
            transform: scale(1.05);
        }
    }

    h3 {
        color: #1a1a1a;
        margin: 10px 0;
        font-size: 1.3rem;
    }

    .prix {
        color: #ff1900;
        font-weight: bold;
        font-size: 1.4rem;
    }
}

.image-container {
    width: 100%;
    height: 300px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 15px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s ease;
    }

    .img-hover {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
}


@media (max-width: 600px) {
    .produits-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        padding: 0 10px;
        margin-bottom: 50px;
    }

    .produit-card {
        padding: 10px;
        
        h3 {
            font-size: 1rem;
            margin: 5px 0;
        }

        .prix {
            font-size: 1.1rem;
        }

        .image-container {
            height: 180px;
        }
    }
}