/* Reset et Base */
* { margin: 0; padding: 0; box-sizing: border-box; }
html, body { height: 100%; }
body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    display: flex; 
    flex-direction: column; 
    background-color: #ffffff; /* Gris clair */
    color: #333; 
}

/* Header Fixe et Thème Sombre */
header {
    background-color: rgba(0, 0, 0, 0.7); 
    
    /* Effet de flou derrière l'entête (optionnel mais très esthétique) */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: white;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0; width: 100%; height: 70px; z-index: 2000;
}

/* Menu Burger & Navigation */
.burger-icon { 
    cursor: pointer; 
    font-size: 2rem; 
    color: #ff1900; /* Rouge */
    z-index: 2100; 
}

#menu-overlay {
    position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.7); display: none; z-index: 1800;
}

nav {
    position: fixed; top: 0; left: -300px; width: 300px; height: 100%;
    background-color: #1a1a1a; transition: 0.4s cubic-bezier(0.77,0.2,0.05,1.0); 
    padding-top: 100px; z-index: 1900;
}
nav.active { left: 0; }

/* Animation des liens du menu */
nav ul { list-style: none; }
nav ul li { 
    opacity: 0; 
    transform: translateX(-30px); 
    transition: 0.4s ease;
}
nav.active ul li { 
    opacity: 1; 
    transform: translateX(0); 
}
/* Délai pour l'apparition un par un */
nav.active ul li:nth-child(1) { transition-delay: 0.1s; }
nav.active ul li:nth-child(2) { transition-delay: 0.2s; }
nav.active ul li:nth-child(3) { transition-delay: 0.3s; }
nav.active ul li:nth-child(4) { transition-delay: 0.4s; }
nav.active ul li:nth-child(5) { transition-delay: 0.5s; }

nav ul li a { 
    display: block; padding: 1.5rem 2rem; color: #fff; 
    text-decoration: none; border-bottom: 1px solid #333; 
    transition: 0.3s;
}
nav ul li a:hover { color: #ff1900; padding-left: 2.5rem; background: #222; }

/* Panier Image */
.panier-img { width: 45px; height: 45px; transition: transform 0.3s ease; }
.panier-img:hover { transform: scale(1.1) rotate(-5deg); }

/* Main Content */
main { flex: 1 0 auto; }

/* Bouton Voir Plus (Style MechaLab) */
.btn-voir-plus {
    display: block; width: 250px; margin: 3rem auto; padding: 1.2rem;
    background: #1a1a1a; color: white; text-align: center;
    text-decoration: none; border-radius: 50px; font-weight: bold;
     transition: 0.3s;
}
.btn-voir-plus:hover { background: #ff1900; box-shadow: 0 0 15px rgba(231, 76, 60, 0.4); }

